<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>jk</title>
</head>
<body>

<div id="landing-page" class="landing-page">
    <header class="header">
        <div class="header__top">
            <h1 class="logo">jk</h1>
            <img class="burger__icon" src="../imgs/menu.svg" alt="nav bar icon">
        </div>
        <nav class="nav">
            <div class="nav__content">
                <a class="nav__item" href="#projects-page">Projects</a>
                <a class="nav__item" href="#about-page">About</a>
                <a class="nav__item" href="#skills-page">Skills</a>
                <a class="nav__item" href="#contact-page">Contact</a>
            </div>
        </nav>
    </header>
    <div class="landing-page-content">
        <div class="poster">
            <div class="poster__text">
                <h1 class="poster__title">
                    Hi, I'm John.
                </h1>
                <p class="poster__par">
                    I am a <strong>web developer</strong> with a passion for anything web development
                    or computer programming related. 
                </p>
            </div>
            <div class="poster__image-section">
                <div class="poster__image-border">
                    <img src="../imgs/mountain.jpg" alt="me on a hike" class="poster__image">
                </div>
            </div>
            <div class="poster__links">
                <a class="poster__projects btn primary" href="#projects-page">My Projects</a>
                <a class="poster__resume btn transp"href="../imgs/my_resume.pdf" download>Download Resume</a>
            </div>
        </div>
        <a href="https://github.com/JohnKrige" class="github" target="blank">
            <div class="github__image-inliner">
                <div class="github__image-container">
                    <img src="../imgs/GitHub.png" alt="github logo">
                </div>
            </div>
            <p class="github__caption">
                Check out my <strong>GitHub</strong> account
            </p>
        </a>
    </div>
</div>

<div id="projects-page" class="projects-page">
    <h1 class="page-title light">Projects</h1>
    <div class="projects-page-content">
        <div class="project-tile">
            <div class="project-tile__image">
                playlistshaman
            </div>
            <div class="project-tile__information">
                <h3 class="project-tile__project-name">playlistshaman</h3>
                <p class="project-tile__description">
                    Using the Spotify developer API, this web app offers users the opportunity to create
                    playlists based on inputs provided by the user.
                </p>
                <div class="project-tile__links">
                    <a class="project-tile__github" href="https://github.com/JohnKrige/spotify-thing" target="blank">Github</a>
                    <a class="project-tile__website" href="http://playlistshaman.com/" target="blank">Website</a>
                </div>
            </div>
        </div>
    
        <div class="project-tile">
            <div class="project-tile__image">
                <img src="../imgs/space2.jpg" class="project-tile__spacetimer-image" alt="space"/>
                <p class="project-tile__spacetimer-caption">
                    spacetimer
                </p>
            </div>
            <div class="project-tile__information">
                <h3 class="project-tile__project-name">spacetimer</h3>
                <p class="project-tile__description">
                    Spactimer is a simple meditation or sports timer. Set numerous intervals from the timer's start, from the
                    timer's end or up to two recurring intervals.
                </p>
                <div class="project-tile__links">
                    <a class="project-tile__github" href="https://github.com/JohnKrige/spacetimer" target="blank">Github</a>
                    <a class="project-tile__website" href="http://www.spacetimer.net/" target="blank">Website</a>
                </div>
            </div>
        </div>
        <div class="back-top-top-container">
            <a class="back-top-top light" href="#landing-page">
                back to top
            </a>
        </div>
    </div>
</div>

<div id="about-page" class="about-page">
    <h1 class="page-title dark">About</h1>
    <div class="about-page-content">
        <div class="about-page-content">
            <div class="about-image">
                <img class="about-image__img" src="../imgs/john_and_eep.jpg" alt="">
                <p class="about-image__caption">
                    Eep the crane and John the human
                </p>
            </div>

            <div class="about-pars">
                <p class="about-par">
                    I am a web developer from Cape Town, South Africa. I am currently learning web development on a full-time basis via online courses and building projects. 
                </p>
                <p class="about-par">
                    When I'm not developing, I enjoy podcasts, exercise, hiking, chess, gardening and TV series.
                </p>
                <p class="about-par">
                    I am a curious and independent problem solver with a penchant for constant learning.
                </p>
                <p class="about-par">
                    I am interested in the entire web development spectrum and have not settled into a niche quite yet.
                </p>
            </div>
        </div>
    
        <div class="back-top-top-container">
            <a class="back-top-top dark" href="#landing-page">
                back to top
            </a>
        </div>
    </div>
</div>

<div id="skills-page" class="skills-page">
    <h1 class="page-title light">Skills and Tools</h1>
    <div class="icons-div">
        <img class="icon-sml" src="../imgs/icons/javascript.png" alt="">
        <img class="icon-sml" src="../imgs/icons/css.png" alt="">
        <img class="icon-sml" src="../imgs/icons/html.png" alt="">
        <img class="icon-med" src="../imgs/icons/Node.png" alt="">
        <img class="icon-sml" src="../imgs/icons/python.png" alt="">
        <img class="icon-sml" src="../imgs/icons/sass.png" alt="">
    </div>
    <div class="skills-list">
        <p class="skills-list__item">Javascript</p>
        <p class="skills-list__item">CSS 3</p>
        <p class="skills-list__item">HTML</p>
        <p class="skills-list__item">Node.js</p>
        <p class="skills-list__item">Python</p>
        <p class="skills-list__item">SQL</p>
        <p class="skills-list__item">NoSql</p>
        <p class="skills-list__item">Sass</p>
        <p class="skills-list__item">Figma</p>
        <p class="skills-list__item">GitHub</p>
        <p class="skills-list__item">Vs Studio Code</p>
        <p class="skills-list__item">Chrome Dev Tools</p>
        <p class="skills-list__item">Bootstrap</p>
        <p class="skills-list__item">Postman</p>
        <p class="skills-list__item">GIMP</p>
    </div>
    <div class="icons-div icons-div--bottom">
        <img class="icon-lrg" src="../imgs/icons/MongoDB.png" alt="">
        <img class="icon-sml" src="../imgs/icons/vs-code.png" alt="">
        <img class="icon-sml" src="../imgs/icons/bootstrap.png" alt="">
        <img class="icon-sml" src="../imgs/icons/github.png" alt="">
        <img class="icon-sml" src="../imgs/icons/figma.svg" alt="">
        <img class="icon-sml invisible" src="../imgs/icons/google.png" alt="">
    </div>

    <div class="back-top-top-container">
        <a class="back-top-top light" href="#landing-page">
            back to top
        </a>
    </div>
</div>

<div class="contact-page" id="contact-page">
    <div class="page-title dark">Contact</div>

    <div class="contact-page-content">
        <div class="contact-pars">
            <div class="contact-pars__par">
                I am currently available for a permanent position or to collaborate
                on something cool you have in mind. 
            </div>
            <p class="contact-pars__par contact-pars__par--primary">
                Please feel free to contact me.
            </p>
        </div>
        <form action="/" class="contact-form" method="POST">
            <div class="contact-form__section">
                <label for="message" class="contact-form__label">
                    message
                    <span class="contact-form__asterisk">*</span>
                </label>
                <textarea class="contact-form__input contact-form__input--message" name="message" id="message" rows="10" required></textarea>
                <div class="contact-form__div contact-form__div--message-error">
                    <p class="contact-form__error"></p>
                </div>
            </div>
            
            <div class="contact-form__section">
                <label for="from" class="contact-form__label">
                    Name
                    <span class="contact-form__asterisk">*</span>
                </label>
                <input class="contact-form__input contact-form__input--name" id="from" type="text" name="from" required>
                <div class="contact-form__div contact-form__div--from-error">
                    <p class="contact-form__error"></p>
                </div>
            </div>
    
            <div class="contact-form__section">
                <label for="from" class="contact-form__label">
                    Email
                    <span class="contact-form__asterisk">*</span>
                </label>
                <input class="contact-form__input contact-form__input--email" id="email" type="email" name="email" required>
                <div class="contact-form__div contact-form__div--email-error">
                    <p class="contact-form__error"></p>
                </div>
            </div>
            <div class="contact-form__submit-container">
                <input type="submit" class="contact-form__submit" value="Submit">
            </div>
        </form>
    
        <div class="back-top-top-container">
            <a class="back-top-top dark" href="#landing-page">
                back to top
            </a>
        </div>
    </div>


    <div class="send-email">
        <p> 
            Sending...
        </p>
    </div>
</div>

    <script src="../js/index.js"></script>
    
</body>
</html>